/* Styles go here */
body {
  font-family: 'Open Sans', sans-serif;
}
Header, footer {
  background-color: #333;
  color: #ddd;
  text-align: center;
  padding: 20px;
}
table,
th,
td {
  border: 0px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 1px;
}

aside {
  text-align: center;
}