<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-semver="3.3.5" data-require="bootstrap@*" />
  <link href="style.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/fundsprices.js"></script>



</head>

<body>
  <header class="container-fluid">
    <div class="jumbotron">
      <H1>FUND MANAGEMENT SYSTEM</H1>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-2">
        <div class="menu-list">
          <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#addmanager">
          Add manager
          </button>
          <button type="button" id="btnRemoveManager" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#removemanager">
          Remove manager
          </button>
          <button type="button" id="addFund" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#addfund">
          Add fund</button>
          <button type="button" id="updatePrices" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#addprice">
          Update prices</button>
          <button type="button" id="fundsPrices" class="btn btn-default btn-lg btn-block">Fund prices</button>
        </div>
      </aside>

      <section class="col-sm-10">
        <div id="main-top"></div>
        <div id="main-mid"></div>
        <div id="main-bot"></div>
      </section>

    </div>
  </div>
  <footer class="container-fluid">
    <H1>FOOTER</H1>
  </footer>
  
  <!--pop up for Add manager-->
    <div class="modal fade" id="addmanager" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add new manager</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <label htmlFor="inputName" class="col-sm-2" control-label>Manager name</label>
            <div class="col-sm-10">
              <input type="text" id="newManager" class="form-control" placeholder="Insert manager name" required/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="btnSaveAddManager" class="btn btn-primary">Save changes</button>
        </div>

      </div>
    </div>
  </div>
  
   <!--pop up forRemove manager-->
  <div class="modal fade" id="removemanager" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Remove manager</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <label class="col-sm-2" control-label>Manager name</label>
            <div id="managersList" class="col-sm-10">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="btnSaveRemoveManager" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
   <!--pop up for Add Fund-->
  <div class="modal fade" id="addfund" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add new fund</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <label htmlFor="inputName" class="col-sm-2" control-label>Fund name</label>
            <div class="col-sm-10">
              <input type="text" id="newFund" class="form-control" placeholder="Enter fund name" required/>
            </div>
          </div>
          <div class="row">
            <label htmlFor="inputCode" class="col-sm-2" control-label>Fund Code</label>
            <div class="col-sm-10">
              <input type="text" id="newCode" class="form-control" placeholder="Enter code" required/>
            </div>
          </div>
          <div class="row">
            <label htmlFor="inputCurrency" class="col-sm-2" control-label>Fund Currency</label>
            <div class="col-sm-10">
              <input type="text" id="newCurr" class="form-control" placeholder="Enter currency" required/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="btnSaveAddFund" class="btn btn-primary">Save fund</button>
        </div>

      </div>
    </div>
  </div>
  
  <!--pop up for Add Price-->
    <div class="modal fade" id="addprice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Update Prices</h4>
        </div>
        <div class="modal-body">
          <!--ManagerList-->
          <div class="row">
          <label class="col-sm-2" control-label>Manager name</label>
          <div id="managersList" class="col-sm-10">
          </div>
         </div>
         <!--Fund List-->
          <div class="row">
            <label class="col-sm-2" control-label>Fund Code</label>
            <div id="fcodesList" class="col-sm-10">
            </div>
          </div>
          <div class="row">
            <label htmlFor="inputDate" class="col-sm-3" control-label>Date</label>
            <div class="col-sm-10">
              <input type="text" id="newDate" class="form-control" placeholder="Enter date" required/>
            </div>
          </div>
          <div class="row">
            <label htmlFor="inputNav" class="col-sm-3" control-label>NAV price</label>
            <div class="col-sm-10">
              <input type="text" id="newNav" class="form-control" placeholder="Enter NAV" required/>
            </div>
          </div>
          <div class="row">
            <label htmlFor="inputBid" class="col-sm-3" control-label>Bid price</label>
            <div class="col-sm-10">
              <input type="text" id="newBid" class="form-control" placeholder="Enter Bid" required/>
            </div>
          </div>
          <div class="row">
            <label htmlFor="inputOffer" class="col-sm-3" control-label>Offer price</label>
            <div class="col-sm-10">
              <input type="text" id="newBid" class="form-control" placeholder="Enter Offer" required/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="btnSaveAddPrice" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>