/* Styles go here */
body {
  font-family: 'Open Sans', sans-serif;
}
Header, footer {
  background-color: #333;
  text-align: center;
}

footer {
  color: #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}
table,
th,
td {
  border: 0px solid black;
  border-collapse: collapse;
  text-align: left;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

aside {
  text-align: center;
}

.manager {
  background-color: white;
}

.fund {
  background-color: white;
}

.archive {
  background-color: white;
}

  a:link {
    color: black;
  }
.menu-list {
    padding-top: 20px;
}

.rss {
  padding-top: 10px;
  padding-bottom: 10px;
}

#js-rotating {
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

